# flyctl launch added from .gitignore
# Python virtual environment
**\venv
**\.venv
**\env
**\.env

# Python cache
**\__pycache__
**\*.pyc
**\*.egg-info
**\.pytest_cache

# Database SQLite locale
**\*.db
**\*.sqlite
**\*.sqlite3

# Cartella di upload (i file caricati dagli utenti non vanno versionati)
**\uploads

# IDE files
**\.vscode
**\.idea

# Flask-specific files
**\instance
fly.toml
