# File e directory da ignorare nel contesto di build di Docker e nel repository Git

# Ambiente virtuale Python
venv/
.venv/
env/
.env/

# File di cache di Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/

# Database SQLite locale (non vanno nel container persistente)
*.db
*.sqlite
*.sqlite3

# Cartella di upload (i file caricati dagli utenti non vanno nel repository Git
# e non dovrebbero essere copiati nel container in fase di build)
uploads/

# File degli IDE
.vscode/
.idea/

# File specifici di Flask
instance/

# File di configurazione di Fly.io che a volte non devono essere nel contesto di build
fly.toml
.fly/