# File di configurazione dell'ambiente locale
.env
__pycache__
# Database locale SQLite
unisannio_appunti.db
instance/

# Cartella dell'ambiente virtuale Python
venv/
__pycache__/

# File di configurazione dell'editor (es. VSCode)
.vscode/