# requirements.txt - Corretto

Flask
Flask-SQLAlchemy
Flask-CORS
gunicorn
boto3
Flask-Login
Werkzeug
psycopg2-binary~=2.9.0
flask-pymongo
pymongo[srv]  # <-- MODIFICA QUESTA RIGA (o aggiungi dnspython separatamente)
google-auth
requests
dnspython  # <-- AGGIUNGI QUESTA RIGA
python-dotenv
python-dotenv